AddType image/svg+xml .svg .svgz

RewriteEngine on
RewriteRule ^/?archives/?$ /?archives=true
RewriteRule ^chapon$ index.php?all=true
RewriteRule ^([^/]*\))$ index.php?graph=$1
RewriteRule ^graphs/(.*)$ svg.php?graph=$1
RewriteRule ^sitemap(/)?(\.xml)?$ sitemap/index.php

## EXPIRES CACHING ##
<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType image/svg+xml "access 1 day"
#ExpiresByType image/png "access 1 day"
#ExpiresByType text/css "access 1 day"
#ExpiresByType application/x-javascript "access 1 day"
#ExpiresDefault "access 2 days"
</IfModule>
## EXPIRES CACHING ##

# BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP
