AddType image/svg+xml .svg .svgz

RewriteEngine on
RewriteRule ^/?archives/?$ /?archives=true [L,NC]
RewriteRule ^chapon$ index.php?all=true [L,NC]
RewriteRule ^rss(/)?$ rss/index.php [L,NC]
RewriteRule ^amp\/(.*)\.html$ amp.php?graph=$1 [L,NC]
RewriteRule ^([^\/]*)\.png$ png/$1.png [L,NC]
RewriteRule ^([^\/]*)\.gif$ gif/$1.gif [L,NC]
RewriteRule ^([^\/]*)\.svg$ svg.php?graph=$1 [L,NC]
RewriteRule ^graphs/graphs_(.*)\.svg$ svg.php?graph=$1 [L,NC]
RewriteRule ^graphs/(.*)$ svg.php?graph=$1 [L,NC]
RewriteRule ^sitemap(/)?(\.xml)?$ sitemap/index.php [L,NC]
RewriteRule ^([^\.]*)$ index.php?graph=$1 [NC]

## EXPIRES CACHING ##
# <IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType image/svg+xml "access 1 day"
#ExpiresByType image/png "access 1 day"
#ExpiresByType text/css "access 1 day"
#ExpiresByType application/x-javascript "access 1 day"
#ExpiresDefault "access 2 days"
# </IfModule>
## EXPIRES CACHING ##

# BEGIN GZIP
# <ifmodule mod_deflate.c>
# AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript image/svg+xml
# </ifmodule>
# END GZIP
