#dom-tricks {
  contain: strict;
  position: absolute;
  left: -100%;
  top: -100%;
}
svg-card,
.svg-card {
  contain: strict;
  box-shadow: 0 0 3px black;
  background-color: white;
}
svg-card svg,
.svg-card svg {
  width: 90%;
  height: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
svg-card svg [data-erase],
.svg-card svg [data-erase] {
  display: none;
}
svg-card svg text,
.svg-card svg text,
svg-card svg tspan,
.svg-card svg tspan {
  font-family: 'Permanent Marker';
  transition: fill 0.5s;
}
svg-card svg [data-type="text"],
.svg-card svg [data-type="text"] {
  opacity: 0;
  transition: opacity 0.5s;
}
svg-card:not(.font-loaded) text,
.svg-card:not(.font-loaded) text,
svg-card:not(.font-loaded) tspan,
.svg-card:not(.font-loaded) tspan {
  display: none;
}
body.svg-defs svg-card.alphabetized [data-type="text"] {
  opacity: 1;
}
body.svg-defs svg-card.alphabetized text,
body.svg-defs svg-card.alphabetized tspan {
  fill: rgba(0, 0, 0, 0);
}
.svg-card {
  width: 300px;
  height: 300px;
}
.svg-card text,
.svg-card tspan {
  display: block !important;
}
.cards {
  --margin: 10px;
  display: grid;
  grid-gap: var(--margin);
  justify-content: space-around;
  --count: 3;
  grid-template-columns: repeat(auto-fill, minmax(auto, calc(calc(100% - calc(var(--margin) * calc(var(--count) - 1))) / var(--count))));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
}
.cards::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1;
  grid-column: 1;
}
.cards *:first-child {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}
