AddType image/svg+xml .svg .svgz

RewriteEngine on

####### PERMANENT REDIRECTIONS
# force HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R=permanent,NE]
# force remove WWW
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=permanent,NE]

####### LEAVE ALONE (internal files)
RewriteCond %{REQUEST_URI} "/ui/" [NC]
RewriteRule .* %{REQUEST_URI} [L]

####### PRETTY URLS
RewriteRule ^/?archives/?$ /?archives=true [L,NC]
RewriteRule ^chapon$ index.php?all=true&archives=true [L,NC]
RewriteRule ^([^\/]*)\.svg$ svg.php?graph=$1 [L,NC,T=image/svg+xml]
RewriteRule ^([^\/]*)\.png$ png/$1.png [L,NC]
RewriteRule ^([^\/]*)\.gif$ gif/$1.gif [L,NC]
RewriteRule ^([^\/]*)\.mp4$ mp4/$1.mp4 [L,NC]
RewriteRule ^([^\.]*)$ index.php?graph=$1 [NC]
